<!DOCTYPE html>
<html>
    <head>
        <title>{NV_SITE_TITLE}</title>
        <meta name="description" content="{SITE_DESCRIPTION}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="author" content="{NV_SITE_COPYRIGHT}">
        <meta name="generator" content="{NV_SITE_NAME}">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{SITE_FAVICON}">
        <link rel="stylesheet" href="{NV_BASE_SITEURL}themes/default/css/bootstrap.min.css">
        <link rel="stylesheet" href="{NV_BASE_SITEURL}{NV_ASSETS_DIR}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{NV_BASE_SITEURL}themes/{NV_ADMIN_THEME}/css/style.css">
        <!-- BEGIN: css_module -->
        <link rel="stylesheet" href="{NV_CSS_MODULE_THEME}" type="text/css">
        <!-- END: css_module -->

        <script type="text/javascript">
            var  nv_base_siteurl = '{NV_BASE_SITEURL}',
                 nv_assets_dir = '{NV_ASSETS_DIR}',
                 nv_lang_data = '{NV_LANG_DATA}',
                 nv_lang_interface = '{NV_LANG_INTERFACE}',
                 nv_name_variable = '{NV_NAME_VARIABLE}',
                 nv_fc_variable = '{NV_OP_VARIABLE}',
                 nv_lang_variable = '{NV_LANG_VARIABLE}',
                 nv_module_name = '{MODULE_NAME}',
                 nv_my_ofs = {NV_SITE_TIMEZONE_OFFSET},
                 nv_my_abbr = '{NV_CURRENTTIME}',
                 nv_cookie_prefix = '{NV_COOKIE_PREFIX}',
                 nv_check_pass_mstime = '{NV_CHECK_PASS_MSTIME}',
                 nv_safemode = {NV_SAFEMODE},
                 nv_area_admin = 1,
                 XSSsanitize = {NV_XSS_SANITIZE};
        </script>
        <script type="text/javascript" src="{NV_BASE_SITEURL}{NV_ASSETS_DIR}/js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="{NV_BASE_SITEURL}{NV_ASSETS_DIR}/js/language/{NV_LANG_INTERFACE}.js"></script>
        <script type="text/javascript" src="{NV_BASE_SITEURL}{NV_ASSETS_DIR}/js/global.js"></script>
        <!-- BEGIN: XSSsanitize -->
        <script type="text/javascript" src="{NV_BASE_SITEURL}{NV_ASSETS_DIR}/js/DOMPurify/purify.js"></script>
        <!-- END: XSSsanitize -->
        <script type="text/javascript" src="{NV_BASE_SITEURL}{NV_ASSETS_DIR}/js/admin.js"></script>

        <!-- BEGIN: module_js -->
        <script type="text/javascript" src="{NV_JS_MODULE}"></script>
        <!-- END: module_js -->

        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EmulateIE8; IE=EDGE" />
        <![endif]-->
    </head>
    <body>
